* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    width: 80%; /* Alterado para 80% da largura da tela */
    max-width: 600px; /* Adicionado máximo de 600px */
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin: 5px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#controls {
    margin-bottom: 20px;
}

#speedChart {
    width: 100%;
    margin-bottom: 20px;
}

#chartData {
    text-align: center;
    margin-bottom: 70px;
}

#chartData > div {
    margin-bottom: 5px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

#logo {
    margin-top: 7px;
    width: 100px; 
    height: auto;
}

#loadingGif {
    width: 300px;
    height: auto;
    margin-bottom: 10px;
}

#startButton,
#pauseButton,
#restartButton {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #4D8CF0;
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    outline: none;
}

#startButton:hover,
#pauseButton:hover,
#restartButton:hover {
    background-color: #346CB1;
}

#startButton:active,
#pauseButton:active,
#restartButton:active {
    transform: scale(0.95);
}
#tabelaInicial {
    margin-top: 20px;;
}

#tabelaOculta {
    margin-top: 20px;
    position: absolute; /* Alterando para posição absoluta */
    bottom: 10px; /* Ajustando a distância do bottom conforme necessário */
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 9999;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    max-width: calc(100% - 40px);
    overflow-x: auto;
}

/* Estilo para as subtabelas */
.subtabela {
    margin-right: 20px;
    font-size: 12px;
}

/* Estilo para os títulos das subtabelas */
.titulo-subtabela {
    font-weight: bold;
}

/* Estilo para os campos de texto */
.campo-texto {
    font-weight: bold;
}
