name: Webhook on Event

on:
  push:
  pull_request:
  issues:
  issue_comment:
  milestone:
  create:
  delete:
  fork:
  member:
  pull_request_review:

jobs:
  webhook-request:
    runs-on: ubuntu-latest
    steps:
      - name: Identify Repository and Event
        run: |
          REPOSITORY=${{ github.repository }}
          EVENT=${{ github.event_name }}
          echo "Repository: $REPOSITORY"
          echo "Event: $EVENT"
      - name: Send a request to webhook
        if: success()
        run: |
          RESPONSE=$(curl -H "Content-Type: application/json" -X POST -d '{
          "username": "GitHub",
          "content": "",
          "embeds": [
            {
              "type": "rich",
              "title": "New Changes",
              "description": "New changes on $REPOSITORY triggered by ${{ github.actor }}",
              "color": 2123412,
              "thumbnail": {
                "url": "https://avatars.githubusercontent.com/u/160980408?v=4"
              },
              "author": {
                "name": "${{ github.actor }}",
                "url": "https://github.com/${{ github.actor_id }}",
                "icon_url": "https://avatars.githubusercontent.com/u/${{ github.actor_id }}?v=4"
              },
              "url": "https://github.com/$REPOSITORY"
            }
          ]
          }' ${{ secrets.WEBHOOK_URL }})
          echo "Webhook server response: $RESPONSE"
